section {
    padding: 50px 13%;
}

.special-events{
    display: grid;
    grid-template-rows: auto auto ;
}

.container a{
    color: rgb(0, 0, 0) !important;
}

.special-events , .container2{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10vh;
}

.images-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 5s ease-in;

}

.img-change{ 
    width: 40vw;
    height: auto;
}
.container2{
    width: 500px;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    transition: all 5s ease-in;

}
#previous , #previous2 , #previous3{
    /* margin-top: 2vw; */
    position: absolute;
    height: 5vw;
    left: 0px;
    /* top: 50%; */
    filter: invert(60%);
    z-index: 111;
    cursor: pointer;
}
#next , #next2 ,  #next3{
    /* margin-top: 70px; */
    /* margin-left: 50px; */
    position: absolute;
    height: 5vw;
    filter: invert(60%);
    z-index: 111;
    right: 0px;
    cursor: pointer;
}

#img-change2{
    transition: all .40s ease;
}

#Others{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Others ul li{
    margin: 3px;
    list-style: circle;

}